@charset "UTF-8";
body {
    background-color: rgba(202, 22, 22, 0.205);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    
}
h1 {
    color: rgb(189, 133, 92);
    background-color: rgb(20, 42, 56);
}
h2 {
    color: rgb(139, 82, 82);

}
p {
    text-align: justify;
}
